tarefa04/cardapio.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:p="http://cardapio.org" targetNamespace="http://cardapio.org" elementFormDefault="unqualified">

    <element name="nome" type="string"/>

    <element name="descricao" type="string"/>

    <element name="calorias" type="integer"/>

    <element name="tempoPreparo" type="string"/>

    <element name="preço">
        <simpleType>
            <restriction base="decimal">
                <fractionDigits value="2"/>
            </restriction>
        </simpleType>
    </element>

    <element name="ingrediente" type="string"/>

    <element name="ingredientes">
        <complexType>
            <sequence>
                <element ref="p:ingrediente" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>

    <element name="prato">
        <complexType>
            <sequence>
                <element ref="p:nome"/>
                <element ref="p:descricao"/>
                <element ref="p:ingredientes"/>
                <element ref="p:preço"/>
                <element ref="p:tempoPreparo"/>
                <element ref="p:calorias"/>
            </sequence>
            <attribute name="id" type="integer"/>
        </complexType>
    </element>

    <element name="cardapio">
        <complexType>
            <sequence>
                <element ref="p:prato" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
</schema>